<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p>{{message}}</p>
        <p><a href="/register">Volver al Registro</a></p>
        <p><a href="/">Volver a la página de inicio</a></p>
    </div>
</body>
</html>
